body {
    font-family: 'Press Start 2P', cursive;
    padding: 24px;
}

p {
    font-size: small;
}

.info-section {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.avatar {
    border-radius: 50%;
    margin-right: 24px;
}